@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color:#343964 ;
  background-image: url(../public/Images/bg.jpg);
}
#cont{
  background-color:#393F6E ;
  width: 800px;
  height: 450px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#contain{
  background-color:#393F6E ;
  width: 500px;
  height: 450px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#ima{
  background-image: url(../public/Images/congrats.png);
  background-size: 400px; 
  background-position: center; 
  width: 100%; 
  height: 150px;
  background-repeat: no-repeat;
}
#play{
  background-color: linear-gradient(#E65895, #BC6BE8);
  width: 100px;
  height: 70px;
  position: absolute;
  text-align: center;
  justify-content: center;
  line-height: 200px; 
  box-shadow: 1px 1px 1px 0px black ;
}
.num{
  background-color:#8B8EAB ;
  width: 400px;
  height: 50px;
  border-radius: 100%;
  text-align: center;
  margin-left: 10px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#Box{
  background-color:#393F6E ;
  width: 800px;
  height: 450px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
li{
  width: 200px;
  height: 50px;
  background-color: #343964;
  text-align: center;
  color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 0px black ;
  margin-top: 10px;
}
li:hover{
  background-color: linear-gradient(#E65895, #BC6BE8);
}
#cont.correct{
  background-color: red;
}
#cont.wrong{
  background-color: blue;
}